@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/montserrat";
@plugin './../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --color-info: hsl(178 77% 35%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme {
  --font-sans: "Montserrat Variable", ui-sans-serif, system-ui, sans-serif;
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* --breakpoint-*: initial; */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
}

/* === Inline safelist để giữ lại các class động === */
@source inline('{,sm:,md:,lg:,xl:}col-span-{1..12} {,sm:,md:,lg:,xl:}row-span-{1..12}');
@source inline("{sm,md,lg,xl}:space-x-[0-24]");
@source inline("{sm,md,lg,xl}:space-y-[0-24]");
@source inline("flex-col flex-row flex-wrap flex-no-wrap items-start items-center items-end items-stretch items-baseline justify-start justify-center justify-end justify-between justify-around justify-evenly");
@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply font-sans;
    /* Ép body dùng font-family 'sans' đã định nghĩa ở trên */
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: none;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .btn {
    @apply px-2.5 py-2 bg-default text-black rounded hover:bg-warning transition text-xs;

    &:hover {
      @apply cursor-pointer;
    }
  }

  .btn-sm {
    @apply px-2 py-1 text-xs;
  }

  .btn-md {
    @apply px-4 py-2 text-sm;
  }

  .btn-relief-primary {
    @apply bg-[#f44336] text-white;
  }

  .divider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem 0;

    &.divider-primary {
      @apply text-[#f44336];
    }

    & .divider-text {
      position: relative;
      display: inline-block;
      font-size: 0.9375rem;
      padding: 0 1rem;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background-color: currentColor;
      }

      &::before {
        right: 100%;
        margin-right: 0.25rem;
      }

      &::after {
        left: 100%;
        margin-left: 0.25rem;
      }
    }
  }

  .animate-loading-dot-custom {
    animation: loading-dot 0.6s ease-in-out infinite;
  }
}
.swal2-confirm-button {
  @apply px-4 py-2 bg-[#f44336] text-white rounded hover:bg-warning transition;
}

.swal2-cancel-button {
  @apply px-4 py-2 bg-gray-300 text-black rounded hover:bg-gray-400 ml-2 transition;
}

.swal2-title {
  @apply text-xl;
}

.swal2-html-container {
  @apply text-sm;
}
